# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Config & Credentials
backend/config.py
backend/admin_config.py

# Databases & Datasets
backend/database/
backend/dataset/
*.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
